.image-jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/nic-limper-photo.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 180px 0 220px 0;
  @extend .text-white;

  .action-title, .orchestras {
    @extend .font-family-header;

  }

  .action-title {
    font-size: 4.4rem;
  }

  .orchestras {
    font-size: 2.5rem;
    text-align: right;
  }

  .orchestras div:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .action-title {
      font-size: 3.5rem;
      padding-bottom: 20px;
    }

    .orchestras {
      font-size: 2rem;
    }
  }
}
