.image-jumbotron {
  background: url(/nic-limper-photo.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 200px 0;
  text-align: right;
  @extend .text-white;

  div {
    @extend .font-family-header;

    font-size: 3.2rem;
  }

  div:not(:last-child) {
    margin-bottom: 20px;
  }
}
