$primary: #f07f03 !default;
$secondary: #3DA5D9 !default;
$success: #B9FFB7 !default;
$info: #73BFB8 !default;
$warning: #ffd166 !default;
$danger: #ef476f !default;
$light: #fcfcfc !default;
$dark: #2364AA !default;

$spacer: 2rem;
$enable-shadows: false;
$enable-rounded: false;
